*
{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
    /* user-select: none; */
    color: #c0c0c0;
}

body
{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.7fr 1fr;
}

/* Navbar CSS */
#gameSec #nav 
{
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    justify-content: space-between;
}

#nav #socials
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: .7rem;
    gap: .7rem;
}

#nav #socials #gbtn
{
    padding: .1rem .3rem;
    background-color: rgb(167, 106, 63);
    border: 2px solid chocolate;
    border-radius: 5px;
    width: fit-content;
    font-weight: 700;
}

#nav #socials a
{
    text-decoration: none;
    color: wheat;
    font-size: 1.5rem;
    text-align: center;
}

#nav #logo
{
    font-size: 1.5rem;
    color: darkgray;
    font-weight: bolder;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#nav #logo span
{
    color: chocolate;
    font-size: 2rem;
    font-weight: bolder;
}



#gameSec
{
    background-color: #313131;
    height: inherit;
    border-right: 2px solid whitesmoke;
    display: grid;
    grid-template-rows: .1fr 1.5fr;
}

#gameSec #disSec 
{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameSec #disSec #goal
{
    font-size: 2rem;
}

#disSec > #illus
{
    position: absolute;
    top: 11.5rem;
    left: 20rem;
}

#illus > #plate
{
    filter: brightness(120%);
}

#illus > #cookie
{
    width: 4rem;
    height: auto;
    position: relative;
    top: -4.5rem;
    left: -8.5rem;

    /* animation: select 2s infinite; */
}

@keyframes select {
    0% {
        transform: scaleX(1.0);
    }
    50% {
        transform: scaleX(1.15);
    }
    100%{
        transform: scaleX(1.0);
    }
}

#infoSec
{
    background-color : #242424;
    color: #c0c0c0;
    display: grid;
    grid-template-rows: 1fr auto;
}

#infoSec #titleDis
{
    font-size: 1.5rem;
    text-align: center;
}

#infoSec #lDis
{
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

#L
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

#L i
{
    font-size: 1.2rem;
    margin-top: .13rem;
    transition: .5s;
}

#L i:hover
{
    color: #ffffff;
}

#infoSec #A
{
    margin-top: 2.5rem;
    padding: .5rem;
    font-size: .9rem;
    background-color: #313131;
    font-family: 'Courier Prime', monospace;
    text-align: left;
    /* user-select: none; */
    width: fit-content;
}

#infoSec #B
{
    padding: .3rem;
    font-size: .8rem;
    background-color: #313131;
    font-family: 'Courier Prime', monospace;
    /* user-select: none; */
    width: fit-content;
}

#infoSec p
{
    line-height: 1.5rem;
}

#infoSec #br
{
    height: 1px;
    margin: 1rem 0;
}

#infoSec #ex
{
    margin: 2rem 0 0.4rem 0;
    font-family: 'Ysabeau', sans-serif;
}

#infoSec #infoPanel
{
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem 1.5rem;
    border-bottom: 2px solid whitesmoke;
    height: max-content;
}

/* Socials Logos */
#socials i
{
    transition: .4s;
}
#socials #gbtn i
{
    
}

#socials #twit i:hover
{
    color: #1DA1F2;
}

#socials:last-child i
{
    background-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

#cp
{
    position: fixed;
    bottom: 0;
    left: .2rem;
    z-index: 10000;
}

