*
{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Ysabeau', sans-serif;
    /* user-select: none; */
    color: #c0c0c0;
}

body
{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.7fr 1fr;
}

/* Navbar CSS */
#gameSec #nav 
{
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    justify-content: space-between;
}

#nav #socials
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: .7rem;
    gap: .7rem;
}

#nav #socials #gbtn
{
    padding: .1rem .3rem;
    background-color: rgb(167, 106, 63);
    border: 2px solid chocolate;
    border-radius: 5px;
    width: fit-content;
    font-weight: 700;
}

#nav #socials a
{
    text-decoration: none;
    color: wheat;
    font-size: 1.5rem;
    text-align: center;
}

#nav #logo
{
    font-size: 1.5rem;
    color: darkgray;
    font-weight: bolder;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#nav #logo span
{
    color: chocolate;
    font-size: 2rem;
    font-weight: bolder;
}



#gameSec
{
    background-color: #313131;
    height: inherit;
    border-right: 2px solid whitesmoke;
    display: grid;
    grid-template-rows: .1fr 1.5fr 1fr;
}

#gameSec #disSec 
{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameSec #disSec #goal
{
    font-size: 2rem;
}

#gameSec #codeSec
{
    border-top: 2px solid whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

#gameSec #codeSec #codeBox
{
    padding: 0.5rem;
    background-color: rgb(143, 143, 143);
    resize: none;
    width: 22rem;
    max-height: 40px;
    overflow-y: hidden;
    border-left: none;
    border-bottom: none;
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    line-height: 2rem;
    font-size: .9rem;
}

#codeSec #code
{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 25rem;
    border: 1px solid white;
}

#code #line-numbers
{
    background-color: #484848;
    padding: .2rem .2rem .2rem .4rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: .9rem;
    text-align: right;
}

#codeBox:focus
{
    outline: none;
}

#infoSec
{
    background-color : #242424;
    color: #c0c0c0;
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
}

#infoSec #titleDis
{
    font-size: 1.5rem;
    text-align: center;
}

#infoSec #lDis
{
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}

#infoSec #A
{
    margin-top: 2.5rem;
    padding: .5rem;
    font-size: .9rem;
    background-color: #313131;
    font-family: 'Courier Prime', monospace;
    text-align: left;
    user-select: none;
    width: fit-content;
}

#infoSec #B
{
    padding: .3rem;
    font-size: .8rem;
    background-color: #313131;
    font-family: 'Courier Prime', monospace;
    user-select: none;
    width: fit-content;
}

#infoSec p
{
    line-height: 1.5rem;
}

#infoSec #br
{
    height: 1px;
    margin: 1rem 0;
}


/* Socials Logos */
#socials i
{
    transition: .4s;
}
#socials #gbtn i
{
    
}

#socials #twit i:hover
{
    color: #1DA1F2;
}

#socials:last-child i
{
    background-color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}